body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.container {
    background-color: #67dddd;
    border-radius: 16px;
    padding: 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 30px;
    margin: 10px;
}

.stopwatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.timer {
    font-size: 40px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

.timer span {
    width: 110px;
    display: inline-block;
    text-align: center;
}

.controls {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

/* Adjust the hover effect to use Bootstrap's hover effect */
button:hover {
    filter: brightness(90%);
}


.btn-success {
    background-color: #15ce15;
    color: #000000;
}


.btn-danger {
    background-color: #ec1d32;
    color: #000000;
}


.btn-warning {
    background-color: #e4fc0e;
    color: #000000;
}

.btn-secondary {
    background-color: #6c757d;
    color: #000000;
}

.lap-title {
    font-size: 1.5rem;
}

.laps {
    width: 100%;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

li {
    padding: 1rem;
    border-bottom: 1px solid #e0e0e0;
}

li:last-child {
    border-bottom: none;
}

li span {
    font-weight: 700;
}
